@charset "UTF-8";
/* ルートのフォントサイズを16pxに設定*/
@media (max-width: 1180px) {
  .aa {
    color: red;
  }
}

@media (max-width: 1179px) {
  .aa {
    color: blue;
  }
}

@media (max-width: 767px) {
  .aa {
    color: yellow;
  }
}

/* ルートのフォントサイズを16pxに設定*/
@media (max-width: 1180px) {
  .aa {
    color: red;
  }
}

@media (max-width: 1179px) {
  .aa {
    color: blue;
  }
}

@media (max-width: 767px) {
  .aa {
    color: yellow;
  }
}

/*
    リセットCSS等の基本設定
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* ルートのフォントサイズ*/
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 1.6em;
  font-weight: 500;
  color: #3e3e3e;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
a, p, span,
blockquote, code,
ol, ul, li, dl, dt, dd,
div, section, article, main, aside,
nav, header, footer,
img, figure, figcaption,
address, time, audio, video,
iframe, fieldset,
form, label, table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

li, ol {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid;
}

th, td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #3e3e3e;
}

input, textarea {
  padding: 8px;
  border: 1px solid #3e3e3e;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid #3e3e3e;
  box-shadow: none;
}

textarea {
  resize: none;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
  border: none;
}

input[type="submit"] ::-moz-focus-inner {
  padding: 0;
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
}

input[type="radio"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #3e3e3e;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
}

input[type="radio"] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

input[type="radio"] + span:focus, input[type="radio"] + span:checked {
  outline: none;
  border: 1px solid #fff;
  box-shadow: none;
  background: #3e3e3e;
}

input[type="radio"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  transform: translateY(-50%);
  background: #3e3e3e;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  display: block;
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 1.2em;
  margin: 0 0.2em 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input[type="checkbox"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #3e3e3e;
  border-radius: 2px;
  width: 1em;
  height: 1em;
  display: block;
}

input[type="checkbox"] + span::after {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
  height: 0.6em;
  margin-top: -0.2em;
  display: block;
  border-left: 3px solid #3e3e3e;
  border-bottom: 3px solid #3e3e3e;
  opacity: 1;
}

select {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-radius: 0;
  background-image: none;
  border: 1px solid #3e3e3e;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  border: 1px solid #3e3e3e;
  box-shadow: none;
}

.hidden {
  display: none;
}

.inner {
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}

@media (max-width: 1179px) {
  .inner {
    padding: 0 10px;
  }
}

.wrapper {
  overflow: hidden;
}

.br-sp {
  display: none;
}

@media (max-width: 767px) {
  .br-sp {
    display: block;
  }
}

.main-image {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.about-wrapper {
  padding: 40px 0;
  margin-top: -8px;
  background-color: #eceae4;
}

.about-heading {
  margin-top: 40px;
  text-align: center;
}

.title {
  font-size: 2.8rem;
  color: #ab3424;
}

.sub-title {
  font-size: 2.0rem;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .sub-title {
    font-size: 1.6rem;
  }
}

.border-line {
  width: 250px;
  border: 2.5px solid #ab3424;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 50px;
}

.about-text {
  display: flex;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .about-text {
    flex-direction: column;
  }
}

.about-text img {
  width: 43%;
  height: auto;
}

@media (max-width: 767px) {
  .about-text img {
    margin: auto;
    width: 100%;
  }
}

.about-text p {
  text-align: justify;
}

@media (max-width: 767px) {
  .about-text p {
    text-align: center;
    width: 100%;
  }
}

.button {
  background-color: #6A3906;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 40px;
  display: table;
  margin: auto;
  margin-top: 50px;
  font-size: 1.4rem;
  margin-top: 50px;
}

.button:hover {
  opacity: 0.9;
}

.menu-wrapper {
  padding: 40px 0;
  text-align: center;
  background-color: #f5c773;
}

.menu-image {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.menu-image li {
  width: 25%;
  margin-bottom: -8px;
}

@media (max-width: 767px) {
  .menu-image li {
    width: 100%;
  }
}

.menu-image img {
  width: 100%;
  object-fit: cover;
}

.news-wrapper {
  padding: 40px 0;
  text-align: center;
  background-color: #eceae4;
}

.news-content {
  margin: 50px auto 0;
  display: flex;
}

@media (max-width: 767px) {
  .news-content {
    flex-direction: column;
  }
}

.news-item {
  padding: 10px 3.125%;
  width: 33.33333%;
  border-right: 1px solid #D0D0D0;
}

@media (max-width: 767px) {
  .news-item {
    padding: 20px 3.125%;
    width: 100%;
    border-bottom: 1px solid #D0D0D0;
    border-right: none;
  }
}

.news-item:last-child {
  border-right: none;
}

.news-link {
  display: inline-block;
  transition: all .3s ease 0s;
  text-decoration: none;
  color: #3e3e3e;
}

.news-link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

.news-title {
  margin-top: 30px;
  font-size: 2.0rem;
  font-weight: bold;
}

.news-text {
  margin-top: 30px;
  text-align: justify;
}

.access-wrapper {
  text-align: center;
  margin-bottom: -8px;
  max-width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .google-map {
    height: 50vh;
  }
}

.access-boxs {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 15px;
  right: 30px;
}

.access-heading_pc {
  padding: 15px;
}

@media (max-width: 767px) {
  .access-heading_pc {
    display: none;
  }
}

.access-title {
  font-size: 2.5rem;
  color: #ffffff;
}

.border-line_access {
  width: 250px;
  border: 2.5px solid #ab3424;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 50px;
  width: 100px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.access-text {
  color: #ffffff;
}

.access-icon {
  text-align: right;
  color: #ffffff;
  font-size: 2.0rem;
}

.access-wrapepr_sp {
  background-color: #d0d0d0;
  margin-top: -8px;
}

.access-heading_sp {
  display: none;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .access-heading_sp {
    display: block;
  }
}

/* page-menu.html */
.page-top_wrapper {
  position: relative;
}

.page-top_wrapper img {
  height: 360px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .page-top_wrapper img {
    height: 260px;
  }
}

.top-image {
  height: 360px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .top-image {
    height: 260px;
  }
}

.page-main {
  background-color: #eceae4;
  margin-top: -8px;
  padding: 50px 0;
}

.course-items {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .course-items {
    flex-direction: column;
  }
}

.course-item {
  margin: 0 auto 170px;
  width: 48%;
  position: relative;
}

@media (max-width: 767px) {
  .course-item {
    margin: 0 auto 50px;
    width: 100%;
  }
}

.course-item a {
  color: #3e3e3e;
}

.course-image img {
  width: 100%;
  object-fit: cover;
}

.menu-body {
  position: absolute;
  right: 4.55%;
  bottom: -130px;
  padding: 13.5px 22px;
  width: 80%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07);
}

@media (max-width: 767px) {
  .menu-body {
    position: static;
    width: 100%;
    margin-top: -8px;
  }
}

.page-title {
  font-size: 3.8rem;
  line-height: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.menu-name {
  text-decoration: none;
  margin: 20px 0;
  font-size: 2.0rem;
  color: #ab3424;
  font-weight: bold;
}

.menu-button {
  background-color: #6A3906;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 40px;
  display: table;
  margin: auto;
  margin-top: 50px;
  font-size: 1.4rem;
  margin-top: 20px;
}

.menu-button:hover {
  opacity: 0.9;
}

.course-subtitle {
  font-size: 2.0rem;
}

/* page-menu.html end */
/* archive.html */
.news-body {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d0d0d0;
}

@media (max-width: 767px) {
  .news-body {
    display: block;
  }
}

.archive-link {
  display: inline-block;
  transition: all .3s ease 0s;
  text-decoration: none;
  color: #3e3e3e;
  width: 100%;
}

.archive-link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

.release {
  width: 15%;
  font-size: 1.4rem;
}

@media (max-width: 767px) {
  .release {
    width: 100%;
  }
}

.archive-title {
  width: 85%;
  font-size: 1.4rem;
}

@media (max-width: 767px) {
  .archive-title {
    width: 100%;
  }
}

/* archive.html end*/
/* single.html*/
.single-inner {
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
}

@media (max-width: 767px) {
  .single-inner {
    padding: 0 10px;
  }
}

.single-title {
  font-size: 2.8rem;
  color: #ab3424;
  border-bottom: solid 1px #d0d0d0;
}

@media (max-width: 767px) {
  .single-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.single-body {
  margin-top: 2.5%;
  padding-bottom: 4%;
  border-bottom: 1px solid #d0d0d0;
}

.single-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5%;
}

.prev-link {
  text-decoration: none;
  color: #3e3e3e;
}

.prev-link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

.prev-link span {
  padding-left: 5px;
}

.next-link {
  text-decoration: none;
  color: #3e3e3e;
}

.next-link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

/* single.html end*/
/* page-access.html*/
.articles {
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .articles {
    flex-direction: column;
  }
}

.article-card {
  width: 31.25%;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.34);
}

@media (max-width: 767px) {
  .article-card {
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
  }
}

.access-link {
  display: inline-block;
  transition: all .3s ease 0s;
  text-decoration: none;
  color: #3e3e3e;
}

.access-link:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54);
}

.card-image img {
  width: 100%;
  height: 230px;
}

@media (max-width: 767px) {
  .card-image img {
    height: auto;
  }
}

.card-body {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 2.0rem;
  margin-top: 20px;
}

.card-text li {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .card-text li {
    text-align: center;
  }
}

/* page-access.html end*/
/* page-sidebar.html */
.content {
  display: flex;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
  }
}

.content-main {
  width: calc(100% - 320px);
  margin-right: 50px;
}

@media (max-width: 767px) {
  .content-main {
    width: 100%;
    margin-right: 0px;
  }
}

.content-side {
  width: 200px;
  text-align: center;
}

@media (max-width: 767px) {
  .content-side {
    width: 80%;
    margin: 30px auto 0;
  }
}

.sidebar-title {
  border-bottom: 1px solid #e7b75e;
  font-weight: bold;
  font-size: 2.8rem;
}

.side-box {
  box-shadow: 0 5.85px 6.8px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
  font-size: 2.0rem;
}

.sub_navi {
  border-top: 1px solid #e7b75e;
  margin-top: 15px;
  font-size: 1.6rem;
}

.sub_navi li {
  border-bottom: 1px solid #e7b75e;
  padding: 5px 0;
}

.sub_navi a {
  color: #ab3424;
}

/* page-sidebar.html end*/
/* パンくずリスト*/
.bread_crumb {
  display: flex;
  margin-bottom: 20px;
}

.bread_crumb li {
  font-size: 1.1rem;
}

.bread_crumb a {
  text-decoration: none;
  color: #3e3e3e;
}

.bread_crumb li:first-child::before {
  font-family: "Font Awesome 5 Free";
  content: '\f015';
  font-weight: 900;
  color: #3e3e3e;
}

.bread_crumb li::before {
  font-family: "Font Awesome 5 Free";
  content: '\f101';
  font-weight: 900;
  color: #3e3e3e;
  padding: 0 5px;
}

/* パンくずend */
/* ページナビゲーション */
.page_navi {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.page_navi li {
  margin: 0 6.5px;
  width: 36px;
  height: 36px;
  border: 1px solid #d0d0d0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page_navi li a {
  width: 36px;
  height: 36px;
  text-align: center;
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page_navi li.current {
  color: #fff;
  font-weight: bold;
  padding: 3px 7px;
  background: #ab3424;
  border: solid 1px #ab3424;
}

.page_navi li:hover {
  opacity: 0.8;
}

/* ページナビゲーション  end*/
/* reservation カレンダー */
.monthly-calendar caption {
  font-size: 2.1rem !important;
  margin-bottom: 15px;
  color: #ab3424;
}

.monthly-prev {
  font-size: 1.8rem;
  margin-top: 5px;
  color: #ab3424;
}

.monthly-next {
  font-size: 1.8rem;
  margin-top: 5px;
}

.monthly-next a {
  color: #ab3424;
}

.is-style-dots {
  margin: 15px 0;
}

.about-page_heading {
  margin: 15px 0;
}

@media (max-width: 767px) {
  .about-page_heading {
    font-size: 1.6rem;
  }
}

.about-page_text {
  text-align: justify;
  margin: 30px 0;
}

@media (max-width: 767px) {
  .about-page_text {
    font-size: 1.3rem !important;
  }
}

.wp-block-table.is-style-stripes {
  border-spacing: 0;
  border-collapse: inherit;
  background-color: transparent;
  border-bottom: 1px solid #f3f4f5;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .mymargin {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .is-style-circle-mask {
    width: 100%;
  }
}

.wp-block-media-text {
  width: 100%;
}
